@model Potionarium.Domain.DTO.AddSpellToBookDto

<h4>Add to Spell Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSpellToSpellBook" method="post">
            <input type="hidden" asp-for="SpellId" value="@Model.SpellId" />
            <div class="form-group">
                <label asp-for="SpellName" class="control-label"></label>
                <input asp-for="SpellName" class="form-control" />
                <span asp-validation-for="SpellName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>